name: Update publications
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # runs once a day
    - cron: '*/60 3/24 */1 * *'
jobs:
  notebooks:
    name: "Scrape and update publications"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main

      - name: Set up Python
        uses: actions/setup-python@main
        with:
          python-version: 3.8

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
          
      - name: Scrape publications
        env:
          ADS_DEV_KEY: ${{secrets.ADS_SECRET}}
        run: |
          python3 -m pip install --upgrade pip
          pip3 install --upgrade setuptools
          python3 -m pip install -e .
          python3 cv/scripts/scrape_ads.py

      - name: Format publications
        run: |
          python cv/scripts/format_pubs.py

      - run: git pull

      - name: Committing changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Scrape and update publications

      - name: Make new release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "release.tar.gz,*.pdf"
          tag: ${{ steps.date.outputs.date }}
          token: ${{ secrets.GITHUB_TOKEN }}
